$color1: rgb(102, 169, 231);
$color2: rgb(122, 241, 192);
$color3:rgb(201, 238, 141);

.scroll {
    height: 5000px;
    width: 100%;
}

.text1, .text2 {
    display: none;
}

.fixed_front {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: $color1
}

.contain {
    height: 400px;
    width: 400px;
    margin: auto;
    margin-top: 100px;
    transition-duration: 1000ms;
}

.contain1 {
    padding: 100px;
    height: 100%;
    width: 100%;
    margin: auto;
    margin-top: 0px;
    transition-duration: 1000ms;
    border-radius: 10px;
    background-color: $color2;
}

.krog {
    background-color: $color2;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    transition-duration: 1000ms;
    float: right;
}

.kvadrat {
    background-color: $color3;
    height: 200px;
    width: 200px;
    transition-duration: 1000ms;
    float: right;
}

.kvadratkonc {
    background-color: rgba(0, 255, 106, 0);
    height: 50%;
    width: 50%;
    transition-duration: 1000ms;
    float: right;
}

.kvadratbejs {
    height: 50%;
    width: 50%;
    transform: translate(1000px,-1000px);
    transition-duration: 1000ms;
    float: right;
}

.krog1 {
    background-color: $color2;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    transition-duration: 1000ms;
    margin-bottom: 0;
}

.kvadrat1 {
    background-color: $color3;
    height: 200px;
    width: 200px;
    transition-duration: 1000ms;
    margin-bottom: 0;
}

.kvadratkonc1 {
    background-color: rgba(0, 255, 106, 0);
    height: 50%;
    width: 50%;
    transition-duration: 1000ms;
    margin-bottom: 0;
}

.kvadratbejs1 {
    height: 50%;
    width: 50%;
    transform: translate(-1000px,-1000px);
    transition-duration: 1000ms;
}

.krog2 {
    background-color: $color2;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    transition-duration: 1000ms;
    float: right;
}

.kvadrat2 {
    background-color: $color3;
    height: 200px;
    width: 200px;
    transition-duration: 1000ms;
    float: right;
}

.kvadratkonc2 {
    background-color:rgba(0, 255, 106, 0);
    height: 50%;
    width: 50%;
    transition-duration: 1000ms;
    float: right;
}

.kvadratbejs2 {
    height: 50%;
    width: 50%;
    transform: translate(1000px,1000px);
    transition-duration: 1000ms;
    float: right;
}

.krog3 {
    background-color: $color2;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    transition-duration: 1000ms;
}

.kvadrat3 {
    background-color: $color3;
    height: 200px;
    width: 200px;
    transition-duration: 1000ms;
}

.kvadratkonc3 {
    background-color: rgba(0, 255, 106, 0);
    height: 50%;
    width: 50%;
    transition-duration: 1000ms;
}

.kvadratbejs3 {
    height: 50%;
    width: 50%;
    transform: translate(-1000px,1000px);
    transition-duration: 1000ms;
}

.test {
    width: 100%;
    text-align: center;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.konec {
    position: fixed;
    top: 30%;
    left: 28%;
    transform: perspective(600px) translateZ(-8000px);
    color: transparent;
    transition-duration: 1000ms;
}

.konec1 {
    transform: perspective(600px) translateZ(0px);
    top: 30%;
    left: 28%;
    position: fixed;
    color: black;
    transition-duration: 1000ms;
}

h1 {
    font-size: 200px;
}
@media only screen and (max-width: 700px) {
    .contain1 {
        padding: 0px;
    }
    h1 {
        font-size: 500%;
    }
    .konec1, .konec {
        top: 30%;
        left: 18%;
    }
    
    
  }